<h1>Записаться</h1>
<p>Запишитесь к нам на стрижку!


<form action="/visit" method="POST" role="form">
  <br/>
  <div class="mb-3">
    <label class="form-label">Ваше имя</label>
    <input type="text" class="form-control" name="username" placeholder="Введите ваше имя">
  </div>
  <div class="mb-3">
    <label class="form-label">Номер телефона</label>
    <input type="text" class="form-control"  name="number" placeholder="Введите ваш номер телефона">
  </div>
  <div class="mb-3">
    <label  class="form-label">Когда вас ждать?</label>
    <input type="text" class="form-control" name="datetime" placeholder="Введите дату и время записи">
  </div>
   <br/>
  <button type="submit" class="btn btn-primary">Записаться</button>
</form>